<%- include('header.ejs'); %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input id="myBox" type="text" />
    <button id="myButton"> Submit </button>
<script src="/jquery/jquery.js"></script>
<script src="/javascripts/index.js"></script>
<%- include('footer.ejs'); %>
